root = true

# ------------------------------------------------------------------------------------------------------------------------------------------
# General settings
# ------------------------------------------------------------------------------------------------------------------------------------------

[*]
indent_style = space

[*.md]
charset = utf-8-bom
trim_trailing_whitespace = false

# XML project files
[*.csproj]
charset = utf-8-bom
indent_size = 2

# XML configuration files
[*.{props,targets,ruleset,config,resx}]
charset = utf-8-bom
indent_size = 2

# JSON and YAML files
[*.{json,yml,yaml}]
charset = utf-8
indent_size = 2

# Shell scripts
[*.sh]
end_of_line = lf

[*.{ps1,cmd,bat}]
indent_size = 4
end_of_line = crlf

[*.cs]
charset = utf-8-bom
end_of_line = crlf
max_line_length = 140
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# ------------------------------------------------------------------------------------------------------------------------------------------
# .NET Analyzer rules
# ------------------------------------------------------------------------------------------------------------------------------------------
dotnet_analyzer_diagnostic.category-Style.severity = error

# ------------------------------------------------------------------------------------------------------------------------------------------
# Experimental rules
# ------------------------------------------------------------------------------------------------------------------------------------------

# .NET formatting options (experimental)
# ------------------------------------------------------------------------------------------------------------------------------------------
dotnet_style_allow_multiple_blank_lines_experimental = false:error
dotnet_style_allow_statement_immediately_after_block_experimental = false:error

# C# formatting options (experimental)
# ------------------------------------------------------------------------------------------------------------------------------------------
csharp_style_allow_embedded_statements_on_same_line_experimental = false:warning
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = false:error
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = false:error
csharp_style_allow_blank_line_after_token_in_conditional_expression_experimental = false:error
csharp_style_allow_blank_line_after_token_in_arrow_expression_clause_experimental = true:warning

# ------------------------------------------------------------------------------------------------------------------------------------------
# .NET style rules
# ------------------------------------------------------------------------------------------------------------------------------------------

# Language rules ('this.' and 'Me.' qualifiers)
# ------------------------------------------------------------------------------------------------------------------------------------------
dotnet_style_qualification_for_field = false
dotnet_style_qualification_for_property = false
dotnet_style_qualification_for_method = false
dotnet_style_qualification_for_event = false

#dotnet_diagnostic.IDE0003.severity = warning # Remove this or Me qualification
#dotnet_diagnostic.IDE0009.severity = warning # Add this or Me qualification

# Language rules (language keywords instead of framework type names for type references)
# ------------------------------------------------------------------------------------------------------------------------------------------
dotnet_style_predefined_type_for_locals_parameters_members = true
dotnet_style_predefined_type_for_member_access = false

#dotnet_diagnostic.IDE0049.severity = warning # Use language keywords instead of framework type names for type references

# Language rules (modifier preferences)
# ------------------------------------------------------------------------------------------------------------------------------------------
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async
#dotnet_diagnostic.IDE0036.severity = warning # Order modifiers

dotnet_style_require_accessibility_modifiers = always
dotnet_diagnostic.IDE0040.severity = suggestion # Add accessibility modifiers

dotnet_style_readonly_field = true
#dotnet_diagnostic.IDE0044.severity = warning # Add readonly modifier

# Language rules (parentheses preferences)
# ------------------------------------------------------------------------------------------------------------------------------------------
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity
dotnet_style_parentheses_in_other_operators = never_if_unnecessary

#dotnet_diagnostic.IDE0047.severity = suggestion # Remove unnecessary parentheses
#dotnet_diagnostic.IDE0048.severity = suggestion # Add parentheses for clarity

# Language rules (expression-level preferences)
# ------------------------------------------------------------------------------------------------------------------------------------------
dotnet_diagnostic.IDE0010.severity = silent # Add missing cases to switch statement

dotnet_style_object_initializer = true
#dotnet_diagnostic.IDE0017.severity = warning # Use object initializers

dotnet_style_collection_initializer = true
#dotnet_diagnostic.IDE0028.severity = warning # Use collection initializers

dotnet_style_prefer_auto_properties = true
#dotnet_diagnostic.IDE0032.severity = suggestion # Use auto-implemented property

dotnet_style_explicit_tuple_names = true
#dotnet_diagnostic.IDE0033.severity = warning # Use explicitly provided tuple name

dotnet_style_prefer_inferred_tuple_names = true
dotnet_style_prefer_inferred_anonymous_type_member_names = true
#dotnet_diagnostic.IDE0037.severity = silent # Use inferred member name

dotnet_style_prefer_conditional_expression_over_assignment = true
#dotnet_diagnostic.IDE0045.severity = suggestion # Use conditional expression for assignment

dotnet_style_prefer_conditional_expression_over_return = true
dotnet_diagnostic.IDE0046.severity = suggestion # Use conditional expression for return

dotnet_style_prefer_compound_assignment = true
#dotnet_diagnostic.IDE0054.severity = warning # Use compound assignment
#dotnet_diagnostic.IDE0074.severity = warning # Use coalesce compound assignment

#dotnet_diagnostic.IDE0070.severity = suggestion # Use System.HashCode.Combine

dotnet_style_prefer_simplified_interpolation = true
#dotnet_diagnostic.IDE0071.severity = warning # Simplify interpolation

dotnet_style_prefer_simplified_boolean_expressions = true
#dotnet_diagnostic.IDE0075.severity = warning # Simplify conditional expression

#dotnet_diagnostic.IDE0082.severity = warning # Convert typeof to nameof

# Language rules (null-checking preferences)
# ------------------------------------------------------------------------------------------------------------------------------------------
dotnet_style_coalesce_expression = true
#dotnet_diagnostic.IDE0029.severity = warning # Use coalesce expression (non-nullable types)
#dotnet_diagnostic.IDE0030.severity = warning # Use coalesce expression (nullable types)

dotnet_style_null_propagation = true
#dotnet_diagnostic.IDE0031.severity = warning # Use null propagation

dotnet_style_prefer_is_null_check_over_reference_equality_method = true
#dotnet_diagnostic.IDE0041.severity = warning # Use 'is null' check

# Language rules (file header preferences)
# ------------------------------------------------------------------------------------------------------------------------------------------
file_header_template = Copyright © 2022-2023 Gabor Csizmadia\nThis code is licensed under MIT license (see LICENSE for details)
#dotnet_diagnostic.IDE0073.severity = none # Require file header

# Language rules (Namespace naming preferences)
# ------------------------------------------------------------------------------------------------------------------------------------------
dotnet_style_namespace_match_folder = true
dotnet_diagnostic.IDE0130.severity = none # Namespace does not match folder structure

# ------------------------------------------------------------------------------------------------------------------------------------------
# C# style rules
# ------------------------------------------------------------------------------------------------------------------------------------------

# Language rules ('var' preferences)
# ------------------------------------------------------------------------------------------------------------------------------------------
csharp_style_var_for_built_in_types = false
csharp_style_var_when_type_is_apparent = true
csharp_style_var_elsewhere = false
#dotnet_diagnostic.IDE0007.severity = warning # Use var instead of explicit type
#dotnet_diagnostic.IDE0008.severity = warning # Use explicit type instead of var

# Language rules (expression-bodied members)
# ------------------------------------------------------------------------------------------------------------------------------------------
csharp_style_expression_bodied_constructors = false
#dotnet_diagnostic.IDE0021.severity = warning # Use expression body for constructors

csharp_style_expression_bodied_methods = false
#dotnet_diagnostic.IDE0022.severity = warning # Use expression body for methods

csharp_style_expression_bodied_operators = false
#dotnet_diagnostic.IDE0023.severity = warning # Use expression body for conversion operators
#dotnet_diagnostic.IDE0024.severity = warning # Use expression body for operators

csharp_style_expression_bodied_properties = when_on_single_line
#dotnet_diagnostic.IDE0025.severity = warning # Use expression body for properties

csharp_style_expression_bodied_indexers = when_on_single_line
#dotnet_diagnostic.IDE0026.severity = warning # Use expression body for indexers

csharp_style_expression_bodied_accessors = when_on_single_line
#dotnet_diagnostic.IDE0027.severity = warning # Use expression body for accessors

csharp_style_expression_bodied_lambdas = when_on_single_line
#dotnet_diagnostic.IDE0053.severity = warning # Use expression body for lambdas

csharp_style_expression_bodied_local_functions = false
#dotnet_diagnostic.IDE0061.severity = warning # Use expression body for local functions

# Language rules (pattern matching preferences)
# ------------------------------------------------------------------------------------------------------------------------------------------
csharp_style_pattern_matching_over_as_with_null_check = true
#dotnet_diagnostic.IDE0019.severity = warning # Use pattern matching to avoid as followed by a null check

csharp_style_pattern_matching_over_is_with_cast_check = true
#dotnet_diagnostic.IDE0020.severity = warning # Use pattern matching to avoid is check followed by a cast (with variable)
#dotnet_diagnostic.IDE0038.severity = warning # Use pattern matching to avoid is check followed by a cast (without variable)

csharp_style_prefer_switch_expression = true
#dotnet_diagnostic.IDE0066.severity = suggestion # Use switch expression

csharp_style_prefer_pattern_matching = true
#dotnet_diagnostic.IDE0078.severity = suggestion # Use pattern matching

csharp_style_prefer_not_pattern = true
#dotnet_diagnostic.IDE0083.severity = warning # Use pattern matching (not operator)

csharp_style_prefer_extended_property_pattern = true
#dotnet_diagnostic.IDE0170.severity = warning # Simplify property pattern

# Language rules (expression-level preferences)
# ------------------------------------------------------------------------------------------------------------------------------------------
csharp_style_inlined_variable_declaration = true
#dotnet_diagnostic.IDE0018.severity = warning # Inline variable declaration

csharp_prefer_simple_default_expression = true
#dotnet_diagnostic.IDE0034.severity = suggestion # Simplify default expression

csharp_style_prefer_local_over_anonymous_function = true
#dotnet_diagnostic.IDE0039.severity = suggestion # Use local function instead of lambda

csharp_style_deconstructed_variable_declaration = true
#dotnet_diagnostic.IDE0042.severity = warning # Deconstruct variable declaration

csharp_style_prefer_index_operator = true
#dotnet_diagnostic.IDE0056.severity = suggestion # Use index operator

csharp_style_prefer_range_operator = true
#dotnet_diagnostic.IDE0057.severity = suggestion # Use range operator

csharp_style_implicit_object_creation_when_type_is_apparent = true
#dotnet_diagnostic.IDE0090.severity = warning # Simplify new expression

dotnet_diagnostic.IDE0072.severity = silent # Add missing cases to switch expression

csharp_style_prefer_tuple_swap = true
#dotnet_diagnostic.IDE0180.severity = warning # Use tuple to swap values

# Language rules (null-checking preferences)
# ------------------------------------------------------------------------------------------------------------------------------------------
csharp_style_throw_expression = true
#dotnet_diagnostic.IDE0016.severity = warning # Use throw expression

csharp_style_conditional_delegate_call = true
#dotnet_diagnostic.IDE1005.severity = warning # Use conditional delegate call

csharp_style_prefer_null_check_over_type_check = true
#dotnet_diagnostic.IDE0150.severity = warning # Prefer null check over type check

# Language rules (code block preferences)
# ------------------------------------------------------------------------------------------------------------------------------------------
csharp_prefer_braces = true
#dotnet_diagnostic.IDE0011.severity = warning # Add braces

csharp_prefer_simple_using_statement = true
#dotnet_diagnostic.IDE0063.severity = suggestion # Use simple using statement

# Language rules (using directive preferences)
# ------------------------------------------------------------------------------------------------------------------------------------------
csharp_using_directive_placement = outside_namespace
#dotnet_diagnostic.IDE0065.severity = warning # using directive placement

# Language rules (modifier preferences)
# ------------------------------------------------------------------------------------------------------------------------------------------
csharp_prefer_static_local_function = true
#dotnet_diagnostic.IDE0062.severity = suggestion # Make local function static

#dotnet_diagnostic.IDE0064.severity = warning # Make struct fields writable

# Language rules (namespace preferences)
# ------------------------------------------------------------------------------------------------------------------------------------------
csharp_style_namespace_declarations = block_scoped # file_scoped / block_scoped
dotnet_diagnostic.IDE0160.severity = warning # Use block-scoped namespace
#dotnet_diagnostic.IDE0161.severity = warning # Use file-scoped namespace

# Unnecessary code rules
# ------------------------------------------------------------------------------------------------------------------------------------------
#dotnet_diagnostic.IDE0001.severity = suggestion # Simplify name
#dotnet_diagnostic.IDE0002.severity = suggestion # Simplify member access
#dotnet_diagnostic.IDE0004.severity = suggestion # Remove unnecessary cast
#dotnet_diagnostic.IDE0005.severity = warning # Remove unnecessary import
#dotnet_diagnostic.IDE0035.severity = suggestion # Remove unreachable code
#dotnet_diagnostic.IDE0051.severity = warning # Remove unused private member
#dotnet_diagnostic.IDE0052.severity = warning # Remove unread private member

csharp_style_unused_value_expression_statement_preference = discard_variable
dotnet_diagnostic.IDE0058.severity = silent # Remove unnecessary expression value

csharp_style_unused_value_assignment_preference = discard_variable
#dotnet_diagnostic.IDE0059.severity = warning # Remove unnecessary value assignment

dotnet_code_quality_unused_parameters = all
#dotnet_diagnostic.IDE0060.severity = warning # Remove unused parameter

dotnet_remove_unnecessary_suppression_exclusions = none
#dotnet_diagnostic.IDE0079.severity = suggestion # Remove unnecessary suppression

#dotnet_diagnostic.IDE0080.severity = suggestion # Remove unnecessary suppression operator
#dotnet_diagnostic.IDE0100.severity = warning # Remove unnecessary equality operator
#dotnet_diagnostic.IDE0110.severity = warning # Remove unnecessary discard

# ------------------------------------------------------------------------------------------------------------------------------------------
# Formatting rules
# ------------------------------------------------------------------------------------------------------------------------------------------
#dotnet_diagnostic.IDE0055.severity = warning # Fix formatting

# .NET formatting options
# ------------------------------------------------------------------------------------------------------------------------------------------
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

# C# formatting options
# ------------------------------------------------------------------------------------------------------------------------------------------
csharp_new_line_before_open_brace = all # accessors, anonymous_methods, anonymous_types, control_blocks, events, indexers, lambdas, local_functions, methods, object_collection_array_initializers, properties, types
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents_when_block = false

csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_parentheses = false # control_flow_statements, expressions, type_casts
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_around_declaration_statements = false
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = false

csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true

# ------------------------------------------------------------------------------------------------------------------------------------------
# Naming rules
# ------------------------------------------------------------------------------------------------------------------------------------------
#dotnet_diagnostic.IDE1006.severity = warning # Naming rule violation

# ------------------------------------------------------------------------------------------------------------------------------------------
# Miscellaneous rules
# ------------------------------------------------------------------------------------------------------------------------------------------
#dotnet_diagnostic.IDE0076.severity = warning # Remove invalid global SuppressMessageAttribute
#dotnet_diagnostic.IDE0077.severity = warning # Avoid legacy format target in global SuppressMessageAttribute
